{# Formulaire d'ajout et de modification #}
{% extends 'dashboard/base.html.twig' %}

{% block title %}Prestations
{% endblock %}

{% block content %}
  <h1 class="font-title font-bold text-2xl dark:text-white">Prestations</h1>

	<div class="flex flex-col items-center flex-1 self-stretch">
		{{ form_start(form, {
    attr: {
        class: 'flex flex-col justify-center items-start gap-[30px] md:w-[450px] self-stretch md:self-auto',
    }
    }) }}
		<h1 class="text-2xl font-semibold dark:text-white">{{ title }}</h1>

		{{ form_errors(form.name) }}
		{{ form_errors(form.price) }}
		{{ form_errors(form.service_category) }}

		<div class="flex flex-col gap-2.5 self-stretch">
			<twig:TextField name="{{ field_name(form.name) }}" value="{{ field_value(form.name)|default('') }}" label="Nom"/>

			<twig:TextField name="{{ field_name(form.price) }}" value="{{ field_value(form.price)|default('') }}" label="Prix" type="number" />

      <twig:Select name="{{ field_name(form.service_category) }}" label="Catégorie">
        {% for category in serviceCategories %}
          <option value="{{ category.id }}" {% if defaultCategoryId == category.id %}selected{% endif %}>{{ category.name }}</option>
        {% endfor %}
      </twig:Select>
		</div>

		<div class="flex items-center gap-2.5 self-stretch">
			<twig:BackButton href="{{ path('app_service_category_index') }}" />
			<twig:Button id="submit-btn" class="bg-webquote-500 hover:bg-webquote-600 text-white flex-1 justify-center">
				<i class="ti {{ icon }}"></i>
				{{ buttonText }}
			</twig:Button>

      {{ form_end(form) }}

      {# Delete #}
      {% if service.id is not null %} 
      <form method="post" action="{{ path('app_service_delete', {'id': service.id}) }}" onsubmit="return confirm('Souhaitez-vous vraiment supprimer cette prestation ?')">
        <twig:Button id="delete-service-btn" class="bg-gray-900 hover:bg-black text-white">
          <i class="ti ti-trash"></i>
        </twig:Button>

        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
      </form>
      {% endif %}
    </div>
	</div>
{% endblock %}
