{# Formulaire d'ajout et de modification #}
{% extends 'dashboard/base.html.twig' %}

{% block title %}Prestations
{% endblock %}

{% block content %}
	<div class="flex flex-col md:justify-center items-center flex-1 self-stretch">
		{{ form_start(form, {
    attr: {
        class: 'flex flex-col justify-center items-start gap-[30px] md:w-[450px] self-stretch md:self-auto',
    }
    }) }}
		<h1 class="text-2xl font-semibold">{{ title }}</h1>

		{{ form_errors(form.name) }}
		{{ form_errors(form.price) }}
		{{ form_errors(form.service_category) }}

		<div class="flex flex-col gap-2.5 self-stretch">
			<twig:TextField name="{{ field_name(form.name) }}" value="{{ field_value(form.name)|default('') }}" label="Nom"/>

			<twig:TextField name="{{ field_name(form.price) }}" value="{{ field_value(form.price)|default('') }}" label="Prix" type="number" />

      <twig:Select name="{{ field_name(form.service_category) }}" label="Catégorie">
        {% for category in serviceCategories %}
          <option value="{{ category.id }}" {% if defaultCategoryId == category.id %}selected{% endif %}>{{ category.name }}</option>
        {% endfor %}
      </twig:Select>
		</div>

		<div class="flex items-center gap-2.5 self-stretch">
			<twig:BackButton href="{{ path('app_service_category_index') }}" />
			<twig:Button id="submit-btn" class="bg-webquote-500 hover:bg-webquote-600 text-white flex-1 justify-center">
				<i class="ti {{ icon }}"></i>
				{{ buttonText }}
			</twig:Button>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
