{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
    <div class="w-full min-h-screen flex flex-col p-2.5 lg:p-0 lg:justify-center items-center gap-10 dark:bg-wqdark-background">
      <h1 class="text-4xl font-semibold text-webquote-500 font-webquote">Webquote</h1>
      {{ form_start(resetForm, {
        attr: {
          class: 'flex flex-col items-center gap-[30px] w-auto lg:w-[400px] self-stretch lg:self-auto',
        }
      }) }}
        <twig:TextField name="{{ field_name(resetForm.plainPassword.first) }}" value="{{ field_value(resetForm.plainPassword.first)|default('') }}" label="Nouveau mot de passe" type="password" />
        <twig:TextField name="{{ field_name(resetForm.plainPassword.second) }}" value="{{ field_value(resetForm.plainPassword.second)|default('') }}" label="Confirmer le mot de passe" type="password" />
        <div class="flex flex-col gap-10 self-stretch">
          <twig:Button id="submit-btn" class="bg-webquote-500 hover:bg-webquote-600 text-white flex-1 self-stretch justify-center">
            Réinitialiser mon mot de passe
			    </twig:Button>
        </div>
      {{ form_end(resetForm) }}
    </div>
{% endblock %}

