{% extends 'register/base.html.twig' %}

{% block title %}Inscrivez-vous !{% endblock %}

{% block mobileText %}Inscrivez vous {% endblock %}
{% block primaryText %}Inscrivez-vous..{% endblock %}
{% block secondaryText %}Et prenez de l'avance sur vos concurrents 🚀{% endblock %}

{% block form %}
	{{ form_start(form, {attr: {class: 'flex flex-col self-stretch py-5 gap-[30px]',}}) }}
        {{ form_errors(form.siren) }}
        {{ form_errors(form.name) }}

        <!--Inputs-->
        <div class="flex flex-col justify-center gap-5 self-stretch">
            <twig:TextField label="Siren" type="text" name="{{ field_name(form.siren) }}" value="{{ field_value(form.siren) }}" autocomplete="off"/>
            <twig:TextField label="Nom" type="text" name="{{ field_name(form.name) }}" value="{{ field_value(form.name) }}" autocomplete="organization"/>
            
            {{ form_row(form._token) }}
        </div>

        <div class="flex items-center gap-2.5 self-stretch">
            <twig:ButtonLink href="{{ path('app_home') }}" id="back-btn" class="flex-1 justify-center bg-gray-100 hover:bg-gray-200">
                <i class="ti ti-arrow-narrow-left"></i>
                Retour
            </twig:ButtonLink>
            <twig:Button id="register-btn" class="text-white bg-webquote-500 hover:bg-webquote-600 flex-1 justify-center">
                Continuer
                <i class="ti ti-arrow-narrow-right"></i>
            </twig:Button>   
        </div>
        <div class="text-center"><a href="{{ path('app_login') }}" class="text-center text-webquote-500">Déjà inscrit ?</a></div>
  {{ form_end(form) }}
{% endblock %}

