{% extends 'register/base.html.twig' %}

{% block title %}
	Renseignez vos identifiants utilisateur
{% endblock %}

{% block mobileText %}Vos identifiants{% endblock %}
{% block primaryText %}Plus qu&apos;une étape...{% endblock %}
{% block secondaryText %}Vos identifiants utilisateur{% endblock %}

{% block form %}
	{{ form_start(form, {
        attr: {
          class: 'flex flex-col self-stretch py-5 gap-[30px]',
        }
      }) }}
	{{ form_errors(form.email) }}
	{{ form_errors(form.password) }}

	<!--Inputs-->
	<div class="flex flex-col justify-center gap-5 self-stretch">
		<twig:TextField label="Adresse mail" type="email" name="{{ field_name(form.email) }}" value="{{ field_value(form.email) }}" autocomplete="email"/>

		<twig:TextField
		label="Mot de passe" type="password" name="{{ field_name(form.password) }}" value="{{ field_value(form.password) }}" autocomplete="new-password"/>
	</div>

	<div class="flex items-center gap-2.5 self-stretch">
		<twig:ButtonLink href="{{ path('app_register') }}" id="back-btn" class="flex-1 justify-center bg-gray-100 hover:bg-gray-200">
			<i class="ti ti-arrow-narrow-left"></i>
			Retour
		</twig:ButtonLink>

		<twig:Button id="register-btn" class="text-white bg-webquote-500 hover:bg-webquote-600 flex-1 justify-center">
			S'inscrire
			<i class="ti ti-arrow-narrow-right"></i>
		</twig:Button>
	</div>
  <div class="text-center"><a href="{{ path('app_login') }}" class="text-center text-webquote-500">Déjà inscrit ?</a></div>
  {{ form_end(form) }}
{% endblock %}
