{% extends 'dashboard/base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block content %}
  <h1 class="font-title font-bold text-2xl">Clients</h1>

	<div class="flex flex-col md:justify-center items-center flex-1 self-stretch overflow-hidden">
		{{ form_start(form, {attr: {class: 'flex flex-col items-start gap-[15px] overflow-hidden md:w-[450px] self-stretch md:self-auto'}}) }}
            <h1 class="text-2xl font-semibold flex-shrink-0">{{ title }}</h1>
            
            {# Potentielles erreurs #}
            {{ form_errors(form.siren) }}
            {{ form_errors(form.name) }}
            {{ form_errors(form.email) }}
            {{ form_errors(form.legal_status) }}
            {{ form_errors(form.sector) }}
            {{ form_errors(form.address) }}
            {{ form_errors(form.phoneNumber) }}
            
            <div class="flex flex-col self-stretch items-start gap-[15px] overflow-auto">
              {# Champs #}
                <twig:TextField name="{{ field_name(form.siren) }}" value="{{ field_value(form.siren)|default('') }}" label="N° SIREN (9 chiffres)" />
                <twig:TextField name="{{ field_name(form.name) }}" value="{{ field_value(form.name)|default('') }}" label="Nom de l'entreprise" />
                <twig:TextField name="{{ field_name(form.email) }}" value="{{ field_value(form.email)|default('') }}" label="Adresse mail" />
                <twig:TextField name="{{ field_name(form.legal_status) }}" value="{{ field_value(form.legal_status)|default('') }}" label="Statut légal" required="{{ false }}" />
                <twig:TextField name="{{ field_name(form.sector) }}" value="{{ field_value(form.sector)|default('') }}" label="Secteur" required="{{ false }}" />
                <twig:TextField name="{{ field_name(form.address) }}" value="{{ field_value(form.address)|default('') }}" label="Adresse postale" required="{{ false }}" />
                <twig:TextField name="{{ field_name(form.phoneNumber) }}" value="{{ field_value(form.phoneNumber)|default('') }}" label="Téléphone" required="{{ false }}" />
            </div>

            {{ form_row(form._token) }}
            
            <div class="flex items-center gap-2.5 self-stretch flex-shrink-0 justify-center">
                <twig:BackButton href="{{ path('app_client_index') }}" />
                <twig:Button id="submit-btn" class="bg-webquote-500 hover:bg-webquote-600 text-white flex-1 justify-center">
                    <i class="ti {{ icon }}"></i>
                        {{ buttonText }}
                </twig:Button>
            </div>
            
		{{ form_end(form) }}
	</div>
{% endblock %}

