{% extends 'quote/base.html.twig' %}

{% block title %}
Devis	
{% endblock %}

{% block clientSelect %}
{# Select #}
<form method="get" id="cli-select" action="{{ path('app_quote_index') }}" class="self-stretch md:self-start">
  <twig:Select name="id" label="Sélectionner un client" class="flex-1 md:flex-auto">
    {% for cli in clients %}
    <option value="{{ cli.id }}" {% if cli.id == client.id %} selected{% endif %}>{{ cli.name }}</option>
    {% else %}
    <option value="">Pas de client</option>
    {% endfor %}
  </twig:Select>
</form>
{% endblock %}

{% block buttons %}
{# Invoice #}
<twig:ButtonLink href="{{ elt.invoice ? path('app_invoice_index', {'id': client.id}) : path('app_invoice_new', { 'quote_id': elt.id }) }}" id="invoice-btn" class="bg-webquote-500 flex-1 md:flex-auto justify-center md:justify-start text-white">
  <i class="ti {{ elt.invoice ? 'ti-file-description' : 'ti-file-plus' }}"></i>
</twig:ButtonLink>

{# Edit #}
<twig:ButtonLink href="{{ path('app_quote_edit', {'id': elt.id}) }}" id="edit-service-btn" class="bg-gray-100 hover:bg-gray-200 flex-1 md:flex-auto justify-center md:justify-start">
  <i class="ti ti-edit"></i>
</twig:ButtonLink>

{# Delete #}
<form method="post" action="{{ path('app_quote_delete', {'id': elt.id}) }}" onsubmit="return confirm('Souhaitez-vous vraiment supprimer ce devis ?')">
  <twig:Button id="delete-service-btn" class="bg-gray-900 hover:bg-black text-white">
    <i class="ti ti-trash"></i>
  </twig:Button>

  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ elt.id) }}">
</form>
{% endblock %}

{% block emptyMessage %}
<p class="dark:text-white">Vous n'avez aucun devis pour ce client pour l'instant</p>
{% endblock %}

{% block createButton %}
<twig:ButtonLink id="add-quote-btn" href="{{ path('app_quote_new', {'id': client.id}) }}" class="text-webquote-500 self-start">
  <i class="ti ti-playlist-add"></i>
  Ajouter un devis
</twig:ButtonLink>
{% endblock %}
