{% set base_url = path('app_service_category_index') %}

{% extends 'dashboard/base.html.twig' %}

{% block title %}
	Prestations
{% endblock %}

{% block content %}
  <h1 class="font-title font-bold text-2xl dark:text-white">Prestations</h1>

	<div
		class="self-stretch flex flex-col gap-5 md:flex-row md:justify-between items-end">
		{# Select #}
		<form method="get" id="sc-select" action="{{ path('app_service_category_index') }}" class="self-stretch md:self-auto">
			<twig:Select name="id" label="Sélectionner une catégorie" class="flex-1 md:flex-auto">
				{% for sc in service_categories %}
					<option value="{{ sc.id }}" {% if sc.id == service_category.id %} selected{% endif %}>{{ sc.name }}</option>
				{% else %}
					<option value="">Pas de catégorie</option>
				{% endfor %}
			</twig:Select>
		</form>

		{# Buttons #}
		<div
			class="flex gap-2.5 items-start justify-between self-stretch md:justify-start md:self-auto">
			{# Add #}
			<twig:ButtonLink href="{{ path('app_service_category_new') }}" id="add-btn" class="bg-webquote-500 hover:bg-webquote-600 text-white flex-1 md:flex-auto justify-center md:justify-start">
				<i class="ti ti-playlist-add"></i>
				Ajouter
			</twig:ButtonLink>

			{# Edit #}
			{% if service_category is not null %}
				<twig:ButtonLink href="{{ path('app_service_category_edit', {'id': service_category.id}) }}" id="edit-btn" class="bg-gray-100 hover:bg-gray-200 flex-1 md:flex-auto justify-center md:justify-start">
					<i class="ti ti-edit"></i>
					Modifier
				</twig:ButtonLink>
			{% endif %}

			{# Delete #}
			{% if service_category is not null %}
				<form method="post" action="{{ path('app_service_category_delete', {'id': service_category.id}) }}" onsubmit="return confirm('Souhaitez-vous vraiment supprimer cette catégorie de prestations ?')">
					<twig:Button id="delete-btn" class="bg-gray-900 hover:bg-black text-white">
						<i class="ti ti-trash"></i>
						<span class="hidden md:inline">Supprimer</span>
					</twig:Button>

					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service_category.id) }}">
				</form>
			{% endif %}
		</div>
	</div>

	{# Services #}
	<div class="flex flex-col self-stretch pt-2.5 gap-2.5 overflow-scroll
			  max-h-[calc(100svh-356px)] md:max-h-[calc(100svh-341.5px)]">
		{% for service in services %}
			<div
				class="flex gap-10 rounded-6 border border-gray-300 p-2.5 items-center bg-white hover:bg-gray-300 cursor-pointer" onclick="goTo('{{ path('app_service_edit', {'id': service.id}) }}')">
				<div class="flex flex-col flex-1 md:flex-row md:items-center">
					<h3 class="text-md">{{ service.name }}</h3>
				</div>
			</div>
		{% else %}
      {% if service_category is not null %}
        <p class="dark:text-white">Vous n'avez aucune prestation pour cette catégorie pour l'instant</p>
      {% endif %}
		{% endfor %}
	</div>

  {% if service_category is not null %}
    <twig:ButtonLink id="add-service-btn" href="{{ path('app_service_new', {'id': service_category.id}) }}" class="text-webquote-500 self-start">
		  <i class="ti ti-playlist-add"></i>
		  Ajouter une prestation
	  </twig:ButtonLink>
  {% endif %}	
{% endblock %}

{% block scripts %}
{{ parent() }}
<script>
const select = document.querySelector('#sc-select');
select.addEventListener('change', () => {
  select.submit();
});
</script>
{% endblock %}
