{# templates/components/ButtonLink.html.twig #}
<a href="{{ href }}" target="{{ target }}" onclick="event.stopPropagation(); {{ onclick }}" id="{{ id }}" class="rounded-6 p-2.5 flex items-start gap-2 {{ class }}">
  {% block content %}{% endblock %}
</a>
