{% set currentRoute = app.request.get('_route') %}
{% set compare = prefix|default(route|default(null)) %}
{% set active = compare is defined ? (currentRoute starts with compare) : false %}

<a href="{{ route is defined ? path(route) : '#' }}" class="self-stretch flex py-[15px] px-5 items-center gap-5 rounded-10 {{ active ? 'bg-[#F1F6FA] border border-webquote-700' : 'hover:bg-[#dbdbdb]' }}">
	<i class="ti ti-{{ icon }} {{ active ? 'text-webquote-500' : 'text-gray-500' }}"></i>
	<span class="text-xl {{ active ? 'font-semibold' : 'text-gray-500' }}">{{ value }}</span>
</a>
