{# templates/components/TextField.html.twig #}
<div class="flex flex-col gap-2.5 self-stretch">
    <label for="{{ name }}">{{ label }}</label>
    <input
        type="{{ type }}"
        value="{{ value }}"
        name="{{ name }}"
        id="{{ name }}"
        class="rounded-10 p-2.5 border border-gray-300"
        autocomplete="{{ autocomplete }}"
        required
        autofocus
    />
</div>
